<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ecographics">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_sun"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_sun"
            android:supportsRtl="true"
            android:theme="@style/lightTheme">
        <activity android:name=".settings.Settings">
        </activity>
        <activity android:label="Daily Climate"
                android:name=".search.Search">
        </activity>
        <activity android:name=".settings.AboutMap">
        </activity>
        <activity android:name=".settings.AboutYearly">
        </activity>
        <activity android:name=".settings.AboutMonthly">
        </activity>
        <activity android:name=".settings.AboutSearch">
        </activity>
        <activity android:name=".settings.AboutEcographics">
        </activity>
        <activity android:name=".daily.DailyTemperature">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".map.NorwayMap">
        </activity>
        <activity
                android:name=".monthly.ClimateChange"
                android:label="Montly Climate">
        </activity>
        <activity
                android:name=".yearly.YearlyClimate"
                android:label="Yearly Climate">
        </activity>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>
